body {
   margin: 0;
   background-color: black;
   font-family: 'Open Sans', sans-serif;
 }

 .createBackgroundImage {
   background-image: url("imgs/hiker.jpeg");
 }

.createSearchAnchor {
  font-size: 15px;
  right:50px;
  top:30px;
}

 button {
   transition: 0.5s all;
   cursor: pointer;
 }

button:hover {
  background-color: rgba(0,0,0,1);
}

.backgroundLayer {
  background-color: rgba(15,15,15,0.5);
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: white;
  position: absolute;
  z-index: 3;
  width: 155px;
}

#createHeader {
  left:50px;
  width:100px;
}

#headerDiv {
  text-align: center;
  border: solid #9fe006 5px;
  width: 150px;
  height:150px;
  margin-left: 50px;
  margin-top: 40px;
  position: absolute;
  z-index: 3;
}

#campContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#hikerContainer {
  width: 100%;
  overflow: hidden;
}

#bikeContainer {
  width: 100%;
  overflow: hidden;
}

#campSite {
  z-index:1;
  position: fixed;
  left:0;
  top:0;
  margin-top: -100px;
  margin-left: -200px;
}

#hikerImg {
  height: 100%;
  position: fixed;
  margin-left: -200px;
  z-index: 1;
}

#bikeImg {
  height: 100%;
  position: fixed;
  margin-left: -350px;
}

a {
  position: absolute;
  text-decoration: none;
  z-index: 5;
  color: white;
  font-size: 40px;
}

#searchEvent {
  left: 50px;
  bottom: 180px;
}

#createEvent {
  left: 50px;
  bottom: 100px;
}

.formContainer {
  position: absolute;
  z-index: 7;
  text-align: center;
  top:140px;
  margin: 15px;
}

.searchContainer{
  position: absolute;
  z-index: 7;
  text-align: center;
  top:150px;
  margin: 15px;
  left: 15px;
}

.eventContainer {
  margin: 0 auto;
  z-index: 6;
  width: 90%;
  background-color:rgba(15,15,15,0);
  position: relative;
  margin-top: 250px;
}

.locationContainer {
  position: relative;
  z-index: 10;
  width:100%;
  margin-top: 565px;
  background-color:rgba(0,0,0,0);
}

.location p {
  color: white;
  margin-left: 10px;
}

.location {
  background-color:rgba(0,0,0,0.5);
  margin-bottom:10px;
  position: relative;
  padding-bottom: 50px;
}

.bottom {
    margin-bottom: 100px;
}

.eventDiv {
  padding: 3px;
  background-color:rgba(15,15,15,0.5);
  margin-bottom: 20px;
}

.eventDiv p {
  margin-left: 5px;
  color: white;
}

form {
  background-color:
  position:absolute;
  top: 200px;
  /* background-color: rgba(15,15,15,0.8); */
}

input {
  width: 80%;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid white;
  margin-top: 15px;
  background-color: rgba(15,15,15,0);
  color: white;
}

#searchButton {
  /* background-color: background-color: rgba(15,15,15,0.4); */
  padding: 15px;
  color: white;
  font-size: 20px;
  background-color: rgba(15,15,15,0);
  border: none;
}

select {
  margin-top: 15px;
  width: 80%;
  font-size: 20px;
  color: white;
  background-color: rgba(15,15,15,0);
  border: none;
  border-bottom: 2px solid white;
}

textarea {
  width: 80%;
  background-color: rgba(15,15,15,0.2);
  font-size: 20px;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  margin-top: 20px;
}

.thumbnail {

  width:75%;
  margin-left: 10px;
}

.top {
  padding-top: 10px;
}

.location a{
  font-size: 16px;
  position: static;
}

.bold{
  font-weight: bold;
}

.createButton {
  color: white;
  font-size: 30px;
  background-color: rgba(0,0,0,.7);
  border: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {

h1{
  position: fixed;
}

.createSearchAnchor {
  position: fixed;
  font-size: 15px;
  left:250px;
}

#searchEvent {
  left: 50px;
  bottom: 375px;
}

#createEvent {
  left: 50px;
  bottom: 300px;
}

.backgroundLayer {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 350px;
}

#hikerContainer {
  width: 100%;
  height: 100%;
}

#campSite {
  z-index:1;
  position: fixed;
  left:0;
  top:0;
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

#hikerImg {
  height: 100%;
  position: fixed;
  margin-left: 0px;
  z-index: 1;
}

#bikeImg {
  height: 100%;
  position: fixed;
  margin-left: 0px;
}

.formContainer {
  position: fixed;
  z-index: 7;
  text-align: center;
  top:200px;
  margin: 15px;
  width:250px;
  left: 35px;
}

.searchContainer {
  position: fixed;
  z-index: 7;
  text-align: center;
  top:250px;
  margin: 15px;
  width:250px;
  left: 35px;
}

.locationContainer {
  background-color: rgba(15,15,15,0);
  position: absolute;
  width: 500px;
  left: 400px;
  margin-top: 10px;
}

.eventContainer {
  margin-left: 450px;;
  z-index: 6;
  width: 400px;
  background-color:rgba(15,15,15,0);
  position: relative;
  margin-top: 50px;
}

.location {
  background-color:rgba(15,15,15,0.4);
  margin-bottom: 5px;
  padding-bottom: 70px;
}

form {
  background-color:
  position:fixed;
  top: 200px;
  /* background-color: rgba(15,15,15,0.8); */
}

input {
  width: 250px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid white;
  margin-top: 25px;
  background-color: rgba(15,15,15,0);
  color: white;
}

#searchButton {
  /* background-color: background-color: rgba(15,15,15,0.4); */
  margin-top: 35px;
  padding: 15px;
  color: white;
  font-size: 20px;
}

select {
  margin-top: 25px;
  width: 250px;
  font-size: 20px;
  color: white;
  background-color: rgba(15,15,15,0);
  border: none;
}

textarea {
  width: 250px;
}

.createButton {
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  font-size: 30px;
  background-color: rgba(15,15,15,.4);
  border: none;
}



}

@media only screen and (min-width:1150px) {

.locationContainer {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.location:nth-child(even) {
  width: 390px;
  margin-right: 10px;
}

.location:nth-child(odd){
  width: 390px;
  margin-right: 10px;
}

.eventContainer {
  width:800px;
  margin-left: 390px;
  display: flex;
  flex-wrap: wrap;
}

.eventDiv {
  width: 381px;
  margin-right: 13px;
}

#hikerImg {
  width: 100%;
}

#bikeImg {
  width: 100%;
}

#campSite {
  width:100%;
}

}
