<!-- <!DOCTYPE html> -->
<!-- <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <title>Trail</title>
  </head> -->
  <!-- <body> -->
    <div class="backgroundLayer">
    </div>
    <h1 id="createHeader">CREATE EVENT</h1>
    <div id="hikerContainer">
      <img id="hikerImg" src="imgs/hiker.jpeg">
    </div>
    <a id="searchEvent" href="#">Search Event</a>
    <a id="mainLink" href="#">Home Page</a>

  <!-- </body> -->
<!-- </html> -->
<!-- TODO needs a footer? -->
