
<div class="backgroundLayer">
</div>
<h1 id="createHeader">CREATE EVENT</h1>
<a class="createSearchAnchor" href="#!/search">search page</a>
<div id="hikerContainer">
  <img id="hikerImg" src="imgs/hiker.jpeg">
</div>
<div class="formContainer">
  <input type="text" placeholder=" Host Name/Organization" ng-model="$ctrl.event.host">
  <textarea rows="4" placeholder="Information" ng-model="$ctrl.event.information"></textarea>
  <form ng-submit="$ctrl.getTrailInfo($ctrl.searchParams)">
    <input type="text" placeholder="City" ng-model="$ctrl.searchParams.city">
    <input type="text" placeholder="State" ng-model="$ctrl.searchParams.state">
    <input type="number" placeholder="Radius" ng-model="$ctrl.searchParams.radius">
    <select ng-model="$ctrl.searchParams.activities">
      <option value="">All</option>
      <option value="hiking">Hiking</option>
      <option value="mountain biking">Mountain Biking</option>
      <option value="camping">Camping</option>
      <option value="snow sports">Snow Sports</option>
      <option value="caving">Caving</option>
    </select>
    <button id="searchButton">Search Location</button>
  </form>
</div>
<div class="locationContainer">
  <div class="location" ng-repeat="location in $ctrl.locations">
    <!-- {{ location }} -->
    <p class="top"><span class="bold">City:</span> {{location.city}}</p>
    <p><span class="bold">State:</span> {{location.state}}</p>
    <p><span class="bold">Activity:</span> {{location.activities[0].activity_type_name}}</p>
    <p><span class="bold">URL:</span><a href="{{location.activities[0].url}}" target="_blank"> {{location.activities[0].url}}</a></p>
    <p><span class="bold">Description:</span> <span ng-bind-html="location.activities[0].description"></span></p>
    <img class="thumbnail" ng-src="{{location.activities[0].thumbnail}}">
    <p><span class="bold">Location:</span> <span ng-bind-html="location.name"></span></p>
    <p><span class="bold">Directions:</span> <span ng-bind-html="location.directions"></span></p>
    <a href="#!/search">
      <button class="createButton" ng-click="$ctrl.createEvent(location)">Create</button>
    </a>
  </div>
</div>
