
<div class="backgroundLayer">
</div>
<h1 id="createHeader">CREATE EVENT</h1>
<div id="hikerContainer">
  <img id="hikerImg" src="imgs/hiker.jpeg">
</div>
<div class="formContainer">
  <form ng-submit="$ctrl.getTrailInfo($ctrl.searchParams)">
    <input type="text" placeholder="City" ng-model="$ctrl.searchParams.city">
    <input type="text" placeholder="State" ng-model="$ctrl.searchParams.state">
    <input type="number" placeholder="Radius" ng-model="$ctrl.searchParams.radius">
    <select ng-model="$ctrl.searchParams.activities">
      <option value="">All</option>
      <option value="hiking">Hiking</option>
      <option value="mountain biking">Mountain Biking</option>
      <option value="camping">Camping</option>
    </select>
    <button id="searchButton">Search Location</button>
  </form>
</div>
<div class="locationContainer">
  <div class="location" ng-repeat="location in $ctrl.locations" >
    <!-- {{ location }} -->
    <p>City: {{location.city}}</p>
    <p>State: {{location.state}}</p>
    <p>URL: {{locaton.activities.url}}</p>
    <p>Location: {{location.name}}</p>
    <p class="bottom">Directions: {{location.directions}}</p>
  </div>
</div>
