
<div class="backgroundLayer">
</div>
<h1 id="createHeader">SEARCH EVENT</h1>
<div id="bikeContainer">
  <img id="bikeImg" src="imgs/bike.jpeg">
</div>
<div class="searchContainer">
  <input type="text" placeholder="Filter search" ng-model="hostFilter">
</div>
<div class="eventContainer">
  <div class="eventDiv" ng-repeat="event in $ctrl.events | filter: hostFilter | orderBy: 'host'" >
    <p><span>Host:</span> {{event.host}}</p>
    <p><span>Information:</span> {{event.information}}</p>
    <p><span>City:</span> {{event.location.city}}</p>
    <p><span>State:</span> {{event.location.state}}</p>
    <p><span>Activity:</span> {{event.location.activities[0].activity_type_name}}</p>
    <p><span>Description:</span> {{event.location.activities[0].description}}</p>
    <img class="thumbnail" ng-src="{{event.location.activities[0].thumbnail}}">
    <p><span>Location:</span> {{event.location.name}}</p>
    <p><span>Directions:</span> {{event.location.directions}}</p>

  </div>
</div>
